@model Division
@{
    ViewData["Title"] = "Division";
}
<h1>Division</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    }
    <div>
        <label class="form-label" asp-for="FirstNumber">FirstNumber</label>
        <input class="form-control" asp-for="FirstNumber" />
    </div>
    <div>
        <label class="form-label" asp-for="SecondNumber">SecondNumber</label>
        <input class="form-control" asp-for="SecondNumber" />
    </div>
    <div>
        <label class="form-label" asp-for="Quotient">Result</label>
        <input asp-for="Quotient" class="form-control" readonly />
    </div>
    <div>
        <button class="btn btn-dark" type="submit">Calculate</button>
    </div>
    <div>
        <a class="btn btn-secondary" asp-controller="Division" asp-action="Index">Clear</a>
    </div>

    

</form>

   